<add-file
(onFileUploadSuccess)="onFileUploadSuccess($event)"
[(show)] = "showPopup"
[topic]="selectedTopic!"
/>

<form class="p-5" [formGroup]="newCourseForm" (ngSubmit)="onFormSubmit()">
  <div class="flex w-full h-full">
    <div class="flex flex-col max-w-[350px] h-full gap-2.5 p-5  ">
      <div class="font-bold text-2xl ">
        Creación de curso
      </div>
      <div>Nombre del curso</div>
      <input type="text" id="name"
        formControlName="name"
        class="border-2 border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ingrese nombre del curso" required />
      <div>Curso</div>
      <select id="grade"
        formControlName="grade"
        type="number"
        inputmode="numeric"
        class="bg-transparent border-2 border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        (change)="onGradeChange($event)" required>
        <option value="-1">Seleccione un curso</option>
        <option
          *ngFor="let grade of gradeData!"
           value="{{grade.id}}">
           {{grade.grade + ' ' + grade.gradePoint}}
        </option>
      </select>
      <div>Materia</div>
      <select id="topic"
        type="number"
        inputmode="numeric"
        formControlName="topic"
        class="bg-transparent border-2 border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        (class)="{'text-gray-200': selectedGrade === undefined}"
        (change)="onTopicChange($event)"
        required>
        <option disabled selected value="-1"
          (class)="{'text-gray-200': selectedGrade === undefined}">
          Escoja una Materia
        </option>
        <option *ngFor="let topic of selectedGrade?.topics" value="{{topic.id}}">{{topic.name}}</option>

      </select>
      <div class="flex gap-2 h-12 whitespace-nowrap ">
        <input type="submit" value="Finalizar"
          class="bg-green-500 hover:bg-green-700 text-white  py-2 px-4 rounded-2xl ease-out duration-100" />
        <button type="button"
          class="bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-2xl ease-out duration-100"
          (click)="_location.back()">
          Volver
        </button>
        <button type="button"
          class="bg-purple-500 hover:bg-purple-700 text-white  py-2 px-4 rounded-2xl ease-out duration-100"
          (click)="showPopup = true">
          Subir archivo
        </button>
    </div>

      </div>
    <div class="flex flex-col w-full">
      <div>Documentos a importar</div>
      <div class="flex flex-col w-full h-full p-1">
        <div class="flex flex-col w-full h-full p-5 rounded-md border-gray-300 border-2" >
          <form [formGroup]="attachFilesForm">
              <div *ngFor = "let unidad of this.selectedTopic?.unidades">
                <label class="font-bold text-sm text-gray-900">{{unidad.name}}</label>
                <div class="flex items-center mb-2" *ngFor="let file of unidad.documents">
                  <input id="checkbox-{{file.fileid}}" name="checkbox-file.{{file.fileid}}" type="checkbox" value="{{file.fileid}}" formControlName="checkbox-file.{{file.fileid}}"
                    class="w-4 h-4 mr-2 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                  <label for="checkbox-{{file.fileid}}"
                    class="text-sm text-gray-900">
                      {{file.name}}
                  </label>
                </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</form>
