<div class="flex flex-col gap-5 mr-20">
  <div class="flex flex-col gap-1 align-middle w-full bg-red-100 p-2">
    <div class="font-bold text-xl">
      {{course?.name + "-" + course?.topic?.grade?.grade + " " + course?.topic?.grade?.gradePoint}}
    </div>
    <div>
      {{ "Alumnos inscritos: " + course?.topic?.grade?.students?.length}}
      <br>
      {{ "Profesor encargado: " + course?.assignedTeacher?.firstName + " " + course?.assignedTeacher?.lastName}}
    </div>
  </div>
  <div class="flex flex-col gap-2">

    <div class="bg-blue-200 cursor-pointer p-2 font-bold">
      > Ver/Editar calendario
    </div>

    <div class="bg-blue-200 cursor-pointer p-2 font-bold">
      > Enviar notificación
    </div>

    <div class="bg-blue-200 cursor-pointer p-2 font-bold">
      > Agregar contenido
    </div>

  </div>
</div>
