<add-file
  [(show)] = "showAddContent"
  (onFileUploadSuccess)="onFileUploadSuccess($event)"
  [topic]="this.course?.topic!"
/>
<div class="flex flex-col gap-5 mr-20">
  <div class="flex flex-col gap-1 align-middle w-full bg-red-100 p-2">
    <div class="font-bold text-xl">
      {{course?.name + "-" + course?.topic?.grade?.grade + " " + course?.topic?.grade?.gradePoint}}
    </div>
    <div>
      {{ "Alumnos inscritos: " + course?.topic?.grade?.students?.length}}
      <br>
      {{ "Profesor encargado: " + course?.assignedTeacher?.firstName + " " + course?.assignedTeacher?.lastName}}
    </div>
  </div>
  <div class="flex flex-col gap-2">

    <div class="bg-blue-200 cursor-pointer p-2 font-bold">

      > Ver/Editar calendario
    </div>

    <div class="bg-blue-200 cursor-pointer p-2 font-bold">
      > Enviar notificación
    </div>

    <div class="bg-blue-200 hover:bg-blue-300 hover:text-gray ease-out duration-100 cursor-pointer p-2 font-bold cursor-pointer"
      (click)="showAddContent = !showAddContent">
      > Agregar contenido
    </div>
    <div class="bg-gray-100 p-5 w-full">
      <div *ngFor="let unidad of this.course!.unidades">
        <div class="flex justify-between w-full items-center">
          <label for="" class="font-bold">
            {{unidad.name}}
          </label>
          <fa-icon [icon]="faEdit" class="cursor-pointer"/>
        </div>
        <div *ngFor="let file of unidad.documents">
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-2">
              <fa-icon [icon]="faFilePdf" class="cursor-pointer"/>
              <a href="{{apiUrl}}/files/{{file.fileid}}" class="text-blue-900">{{file.name}}</a>
            </div>
            <fa-icon [icon]="faEdit" class="cursor-pointer"/>
          </div>
        </div>

    </div>

    </div>

  </div>
</div>
