<div id="main" class='flex flex-col m-2.5 gap-2'>
  <div class="flex justify-between mr-5 mt-2">
    <label class="font-semibold text-2xl">Bienvenido/a {{this.user?.firstName}}!</label>
    <div title="Salir" class="fa-lg">
      <fa-icon [icon]="faRightFromBracket" class="cursor-pointer" (click)="logOff()">
      </fa-icon>
    </div>
  </div>
  <p>Por favor, selecciona un curso de la lista.</p>
  <div
    class="bg-blue-100  p-2  cursor-pointer"
    *ngFor="let curso of this.courses"
    >
    <div [routerLink]="['/home/' + this.user?.role?.toLowerCase() + '/courses/' + curso.id?.toString()]">
      <fa-icon [icon]="faAngleRight" class="cursor-pointer"></fa-icon>
      <label class="cursor-pointer">
        {{curso.name}}  {{curso.topic?.grade?.grade}}°{{curso.topic?.grade?.gradePoint}}
      </label>
    </div>
  </div>
  <div class="w-full h-full flex flex-col"
      *ngIf="this.user?.role === 'Teacher'">
    <label class="text-center" for="">¿Tu curso no aparece en la lista?</label>
    <a class="text-center text-blue-500 underline cursor-pointer"
      [routerLink]="['/home/teacher/new-course']">
      Crear un curso
    </a>

  </div>

</div>
